/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Indie+Flower&family=Kanit:wght@400;500&family=Merriweather:wght@400;700&family=Poppins:wght@400;500&family=Roboto+Slab:wght@500&family=Sora:wght@100&display=swap');


/* Common Style */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #E5E5E5;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    background: #FFFFFF;
    width: 870px;
    padding: 28px;
    margin-top: 18px;
}

.top-players {
    margin-bottom: 30px;
}

/* section title */
.Section-title {
    color: #562EFF;
    font-size: 24px;
    line-height: 36px;
    margin-top: 3px;
}

/* top players style */
.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
}

.player {
    display: flex;
    align-items: center;
}

.player img {
    width: 56x;
    height: 56px;
}

.player-name {
    margin-left: 16px;
    font-size: 18px;
}

hr {
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;

}

/* 
-----------------These are the styles are for the blog--------------
*/
.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 26px;

}

.blog {
    display: flex;

}

.blog .Thumnails img {
    width: 224px;
    height: 127px;
}

.blog-title h3 {
    font-size: 20px;
}

.blog-title {
    margin-left: 16px;
}

.blog-info p {
    color: #9F9F9F;
    font-size: 16px;
    margin-left: 16px;
}

.blog-info p a {
    text-decoration: none;
}

/* style for latest courses */
.thumnail-course img {
    width: 224px;
    height: 104px;
}


.course-info {
    display: flex;
    align-items: center;
}

.fa-star {
    color: #FFC014;
    font-size: 12px;
}

.fa-star.empty {
    color: #AEAEAE;
}